* {
    padding: 0;
    margin: 0;
}

html,
body,
#backgroundRain {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #333;
}

#backgroundRain {
    z-index: 0;
    position: absolute;
    mix-blend-mode: screen;
}

html,
body {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    position: relative;
    z-index: 10;
    margin: auto;
    height: 100%;
    max-width: 1300px;
    background: #3339;
}

#container header,
#container h2 {
    margin: auto;
    width: fit-content;
}

#container>div {
    width: 80%;
    margin: auto;
}

#container h2 {
    margin-bottom: 40px;
}

#container p:nth-child(4) {
    margin-top: 20px;
}

#container h5 {
    margin-top: 60px;
}

a {
    color: #0bb
}

a:visited {
    color: #0bb
}

a:hover {
    color: #0cc
}

a:active {
    color: #7dd
}

.fryzen {
    background: url("../media/images/fryzen.png") no-repeat;
    background-size: contain;
    min-width: 320px;
    height: 180px;
    z-index: 10;
    margin-top: 50px;
}